# I. Introduction

=========================================

Faris Arief Mawardi

Dataset : perth_houses.csv

Dataset Source : https://www.kaggle.com/datasets/syuzai/perth-house-prices

Objective : Membuat inferensi dari model prediksi yang sudah dibuat

=========================================

In [7]:
import pickle  # Untuk menyimpan atau memuat model machine learning
import pandas as pd  # Untuk manipulasi dan analisis data

In [8]:
# Model Loading
with open('model.pkl', 'rb') as file_1:
  model = pickle.load(file_1)

In [12]:
# Membuat Data Baru

# Membuat data baru dengan informasi sesuai dengan yang ada pada dataset awal
data_inf = {
    "ADDRESS": ["1 Acorn Place", "9E Margaret Street"],
    "SUBURB": ["South Lake", "Midland"],
    "BEDROOMS": [3, 2],
    "BATHROOMS": [3, 2],
    "GARAGE": [1, 1],
    "LAND_AREA": [250, 246],
    "FLOOR_AREA": [120, 85],
    "BUILD_YEAR": [1990, 1996],
    "CBD_DIST": [18300, 16700],
    "NEAREST_STN": ["Cockburn Central Station", "Midland Station"],
    "NEAREST_STN_DIST": [1800, 1700],
    "DATE_SOLD": [2018, 2016],
    "POSTCODE": [6164, 6056],
    "LATITUDE": [-32.115900, -31.882163],
    "LONGITUDE": [115.842450, 116.014755],
    "NEAREST_SCH": ["LAKELAND SENIOR HIGH SCHOOL", "LA SALLE COLLEGE"],
    "NEAREST_SCH_DIST": [0.828339, 1.055564	],
    "NEAREST_SCH_RANK": [200, 53.0],
}

# Membuat DataFrame dari data baru
data_inf = pd.DataFrame(data_inf)

# Menampilkan data baru
data_inf

,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,3,3,1,250,120,1990,18300,Cockburn Central Station,1800,2018,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,200.0
1,9E Margaret Street,Midland,2,2,1,246,85,1996,16700,Midland Station,1700,2016,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0

In [13]:
# Predict
y_inf_pred = model.predict(data_inf)
y_inf_pred

array([427250.        , 338642.85714286])

**Kesimpulan :**

Berdasarkan hasil inferens yang dilakukan, model yang dibuat dapat melakukan prediksi harga properti dengan cukup baik menggunakan data-data yang diberikan oleh dummy data. Berikut adalah hasil prediksi harga properti yang dihasilkan dari model yang dibuat :

- Prediksi Harga Data pertama       : 427.250

- Prediksi Harga Data Kedua         : 338.642